@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
@import '~antd/dist/antd.css';
@import 'session/app';
@import 'private/app';

#root {
    height: 100%;
}
body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

.landing {
  &-header {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 7px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-text {
    font-size: 18px;

    &-small {
      font-size: 16px;
    }
  }

  &-second-header {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &-link {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  &-toggle {
    position: relative;
  }

  &-toggle-text {
    position: absolute;
    font-size: 12px;
    width: 270px;
  }

  &-button-block {
    position: absolute;
    right: -31%;
    top: 25%;

    &-media {
      display: flex;
      flex-direction: column;

      &-link {
        padding: 11px 10px;
        border: 1px solid #a7a6a6;
        border-radius: 5px;
        margin-top: 8px;
        background-color: black;
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  &-button {
    font-family: "Fira Sans", sans-serif;
    background: linear-gradient(180deg, #47D155 0%, #009E10 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    width: fit-content;
    float: right;
    height: 57px;
    font-weight: bold;
    font-size: 25.6733px;
  }

  &-button-text {
    font-weight: bold;
    font-size: 24px;
  }

  &-link-block {
    margin-left: 8px;
    margin-top: -15px;
  }
}

.landing-layout {
  background: linear-gradient(to bottom left, #0d3f52, #053752);
  position: absolute;
  height: 100%;
  width: 100%;
}

.center-block {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d1d1d1;
}

.price-list {
  &-button {
    padding: 11px 10px;
    border: 1px solid #a7a6a6;
    border-radius: 5px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    display: table;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
    transition: 0.3s ease;

    &:hover {
      color: #27AE60;
      border: 1px solid #27AE60;
      transition: 0.3s ease;
    }
  }
  &-columns {
    height: 80%;
    display: flex;
    justify-content: space-between;
  }

  &-column {
    padding: 0 40px;

    &-list {
      color: #27AE60;
      font-size: 24px;

      &-item {
        margin-bottom: 10px;
        span {
          color: #d1d1d1;
        }
      }
    }
  }
}
