.login-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: no-repeat center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .wrap-login100 {
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px 55px;
        background: #9152f8;
        background: -webkit-linear-gradient(top, #7579ff, #b224ef);
        background: -o-linear-gradient(top, #7579ff, #b224ef);
        background: -moz-linear-gradient(top, #7579ff, #b224ef);
        background: linear-gradient(top, #7579ff, #b224ef);
    }

    .login100-form-logo {
        font-size: 60px;
        color: #333333;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
    }

    .login100-form-title {
        font-family: Poppins-Medium, serif;
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
    }

    .validate-input {
        position: relative;
    }

    .wrap-input100 {
        width: 100%;
        position: relative;
        border-bottom: 2px solid rgba(255,255,255,0.24);
        margin-bottom: 30px;
    }

    .input100 {
        font-family: Poppins-Regular, serif;
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        background: transparent;
        padding: 0 5px 0 38px;
    }

    input {
        outline: none;
        border: none;

        &::placeholder {
            color: #fff;
        }
    }

    button, input {
        overflow: visible;
    }

    .focus-input100 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

        i {
            position: absolute;
            left: 8px;
            top: 13px;
            color: #fff;
            font-size: 17px;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            background: #fff;
        }

        &:after {
            font-family: Material-Design-Iconic-Font, serif;
            font-size: 22px;
            color: #fff;
            content: attr(data-placeholder);
            display: block;
            width: 100%;
            position: absolute;
            top: 6px;
            left: 0;
            padding-left: 5px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
    }

    .container-login100-form-btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login100-form-btn {
        font-family: Poppins-Medium, serif;
        font-size: 16px;
        color: #555555;
        line-height: 1.2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 120px;
        height: 50px;
        border-radius: 25px;
        background: #9152f8;
        background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
        background: -o-linear-gradient(bottom, #7579ff, #b224ef);
        background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
        background: linear-gradient(bottom, #7579ff, #b224ef);
        position: relative;
        z-index: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        border: none;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background-color: #fff;
            top: 0;
            left: 0;
            opacity: 1;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
    }

    .p-t-90 {
        padding-top: 90px;
    }

    .text-center {
        text-align: center!important;
    }

    .txt1 {
        font-family: Poppins-Regular, serif;
        font-size: 13px;
        color: #e5e5e5;
        line-height: 1.5;
    }
}
